li {
  margin-top: 50px;
}

.padded {
  padding: 0 10 0 10;
}

.inline {
  display: inline;
}

div.reponse {
  padding: 3px;
}

.reponse:hover {
  background: beige;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

td {
  border: solid 1px lightgrey;
  margin: 0px;
  padding: 0px;
}

table#signes_cliniques {
  border: 0px solid black;
}

table#signes_cliniques td {
  border: 0px solid black;
  padding-right: 100px;
}

table#traitements td.title {
  width: 100px;
  text-align: center;
}

table#traitements td input {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}

table td.grade_1 {
  background: lightgreen;
}

table td.grade_2 {
  background: orange;
}

table td.grade_3 {
  background: red;
}